:root {
    --blue: rgb(22, 50, 88);
    --light-blue: rgb(136, 174, 227);
    --yellow: rgb(238, 217, 32);
    --navbar-font: "Montserrat", sans-serif;
    --logo-font: "Roboto Slab", serif;
    --main-font: "Barlow", sans-serif;
}

body {
    margin: 0;
}