.main {
    background: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #a2add0, #a6b4e2, #a7cde6, #a2bad0, #9ad8f5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}