.About,
.arcitecture,
.workflow,
.demo {
    padding-bottom: 3rem;
    align-self: center;
}

.content {
    background: transparent;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
    min-width: 60vw;
    max-width: 1300px;
}

.content h2 {
    font-family: var(--logo-font);
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--blue);
    text-shadow: 1px 1px 2px var(--yellow);
}

.content-right h2 {
    text-align: left;
}

.content p {
    font-family: var(--main-font);
    text-wrap: wrap;
}

#problem-image {
    min-width: 200px;
    max-width: 20vw;
    height: 220px;
    background-image: url(./images/problem.png);
    background-size: cover;
}

#solution-image {
    min-width: 200px;
    max-width: 20vw;
    height: 250px;
    background-image: url(./images/solution.png);
    background-size: cover;
    transform: rotate(10deg);
    margin-right: 4rem;
}

#step-one-image {
    height: 165px;
    width: 630px;
    background-image: url(./images/step-one-image.png);
    background-size: cover;
    margin-right: 4rem;
    margin-top: 1rem;
}

#step-two-image {
    height: 180px;
    width: 1200px;
    background-image: url(./images/step-two-image.png);
    background-size: cover;
    margin-right: 4rem;
    margin-top: 1rem;
}

#step-three-image {
    margin-top: 2rem;
    height: 180px;
    width: 1200px;
    background-image: url(./images/step-three-image.png);
    background-size: cover;
}

.tech {
    margin-top: 0.5rem;
    font-family: var(--main-font);
    font-weight: 400;
    min-width: 60vw;
    max-width: 1300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
}

.tech h2 {
    text-align: left;
    margin-bottom: 1.5rem;
    font-family: var(--logo-font);
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--blue);
    text-shadow: 1px 1px 2px var(--yellow);
}

.tech span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid var(--blue);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 50%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.icon-icon {
    font-size: 2.5rem;
    color: var(--blue);
    margin-bottom: 0.3rem;
}


#demo-content {
    width: 90%;
}